body{
    color: #742305;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
}

header nav{
    background-color: #fef7e2;
    padding: 2em;
    display: flex;
    justify-content: center;
    border-radius: 5em;
}

header nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    align-content: flex-end;
}

header nav ul li{
    list-style: none;
    background: #ffdf7f;
    padding: 0.5em 1.5em;
    border-radius: 2em;
    margin: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    flex: 1 0 100px; 
    text-align: center;
    justify-content: center;
}

header nav ul li img{
    width: 2em;
}

header nav ul li a{
    text-decoration: none;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}

.shopItem{
    width: 100%;
    height: 100px;
    flex: 2 0 200px;
    justify-content: center;
}

.shopItem a{
    font-size: 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.shopItem a span{
    margin-left: 1em;
}

/* 
header{
    background-color: #FEF7E2;
    border-radius: 10%;
}
ul {
    list-style-type: none;
    padding: 0;
}
ul li{
    background-color: #FFDF7F;
    text-align: center;
    padding: 0;
    width: max-content;
    border-radius: 10em;
}
ul li:nth-child(1){
    font-size: 3em;
}*/

ul li a{
    padding: 0.1em;
    color: #742305;
    text-decoration: none;
    font-weight: bold;
}
img{
    width: 100%;
}
.img-menu{
    width: 3rem;
}
.card{
    background-color: #FEF7E2;
    border-radius: 22%;
}
.card-img{
    border-top-right-radius: 22%;
    border-top-left-radius: 22%;
}
.card {
    text-align: center;
} 
.card-body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.card-text{
    display: flex;
    align-items: center;
}

.card-title{
    order: 0;
}
/* .text{
    display: flex;
    flex-flow: column wrap;
    flex-wrap: wrap;
} */
.link{
    background-color: #FFDF7F;
    color: #742305;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    width: max-content;
    border-radius: 10em;
}
@media screen and (min-width:516px) and (max-width:566px) {
    header nav ul li{
        flex: 1 0 150px;
    }
}
@media screen and (min-width:566px) and (max-width: 575px) {
    header nav ul li {
        flex: 1 0 160px;
    }
}
@media screen and (min-width:576px) and (max-width: 586px) {
    header nav ul li {
        flex: 1 0 170px;
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {
    ul li:nth-of-type(1) { order: 3; }
    ul li:nth-of-type(2) { order: 1; }
    ul li:nth-of-type(3) { order: 2; }
    ul li:nth-of-type(4) { order: 4; }
    ul li:nth-of-type(5) { order: 5; }
    
}
